<!DOCTYPE html>

<html>
  <head>

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <title>{% if page.title %}{{ page.title }} | {% endif %} Personal blog of Fernando Diaz</title>

    <script type="text/javascript" src="http://use.typekit.com/xas3ecr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/screen.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/code.css">
    <link rel="alternate" type="application/atom+xml"
      title="User Obsessed Feed" href="http://feeds.feedburner.com/userobsessed" />

    <link rel="apple-touch-icon" href="/images/iOS-114.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/iOS-57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" media="screen and (resolution: 132dpi)" href="/images/iOS-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" media="screen and (resolution: 326dpi)" href="/images/iOS-114.png" />

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />



  </head>
  <body class="{{ page.layout }}">

    <section id="main">
      <header class="group" id="header">
        <p><a href="/">fer.dev</a></p>
        <h1 class="tk-dejarip" >Ruby developer and start-up addict</h1>
        <nav class="icon-pannel">
          <ul class="icons">
            <li class="icon"><a href="http://twitter.com/fdiazgarrido"><em class="twitter"></em><b>Twitter</b></a></li>
            <li class="icon"><a href="http://github.com/fery"><em class="github"></em><b>GitHub</b></a></li>
            <li class="icon"><a href="http://linkedin.com"><em class="linkedin"></em><b>LinkedIn</b></a></li>
            <li class="icon"><a href="http://feeds.feedburner.com/ferdg"><em class="rss"></em><b>RSS</b></a></li>
          </ul>
        </nav>
      </header>


      <section id="sidebar">
        <aside>
          <header>
            <h3>The Author</h3>
          </header>
          <p>
            I'm Fernando Diaz, a passionate web developer currently working as a mobile developer for Victor Chandler. 
            I love the ruby community, the open source philosophy and everything related with start-ups.
            I will try to share my thought in development especially the mobile related ones
          </p>
        </aside>
      </section>

      <section id="focus" class="group">

        <section id="content" class="group">
          {{ content }}
        </section>


      </section>

      <section id="footer" class="group">
        <footer class="group">
          <p class="copyright">
            <a href="http://userobsessed.net">Based on Joe Fiorini blog</a>
          </p>
        </footer>
      </section>

  </body>
</html>
